<h1 class="title is-1">Directors</h1>
<div class="columns is-multiline">
  <% directors.forEach(director => { %>
    <div class="column is-one-quarter-desktop is-half-tablet">
      <a href="<%= director.wiki %>" target="_blank">
        <div class="card">
          <div class="card-image" style="background-image: url(<%= director.image %>)"></div>
          <div class="card-content">
            <h3 class="title"><%= director.name %></h3>
            <h5><%= director.country %></h5>
            <h5><%= director.synopsis %></h5>
          </div>
        </div>
      </a>
    <% if(locals.isAuthenticated) { %>
      <a class="button is-primary is-outlined" href="/directors/<%= director.id %>/edit">
      <span class="icon is-small">
        <i class="fa fa-align-left"></i>
      </span>
      <span>Edit</span>
      </a>
    <% } %>
    <% if(locals.isAuthenticated && director.user && director.user.id === locals.currentUser.id) {%>
      <form method="POST" action="/directors/<%= director.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button is-danger is-outlined"><span>Delete</span><span class="icon is-small">
          <i class="fa fa-times"></i>
        </span></button>
      </form>
    <% } %>
    </div>
  <% }) %>
</ul>
