<main class="container">
  <form method="GET" id="director-form">
    <div class="field has-addons has-addons-right is-horizontal">
      <p class="control has-icons-left">
        <span class="select">
          <select name="director">
            <option selected disabled>Director</option>
            <% directors.forEach(director => { %>
              <option value="<%= director.id %>" <% if(director.id === selectedDirector) { %>selected<% } %>><%= director.name %></option>
            <% }) %>
          </select>
        </span>
        <span class="icon is-small is-left">
          <i class="fa fa-globe"></i>
        </span>
      </p>
    </div>
  </form>
  <br>
  <div class="columns is-multiline">
    <% movies.forEach(movie => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
      <% if(locals.isAuthenticated) { %>
          <form method="POST" action="/movies/<%= movie.id %>/favorite" class="favorite">
            <button>
              <% if(locals.currentUser.hasFavorited(movie)) { %>
                <i class="fa fa-heart"></i>
              <% } else { %>
                <i class="fa fa-heart-o"></i>
              <% } %>
            </button>
          </form>
        <% } %>
        <a href="/movies/<%= movie.id %>">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="<%= movie.image %>" alt="<%= movie.title %>">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title"><%= movie.title %></h3>
              <h4 class="subtitle"><%= movie.year %></h4>
              <%- movie.getStarIcons() %>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</main>
