<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= movie.image %>" alt="<%= movie.title %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= movie.title %></h3>
      <h4 class="subtitle"><%= movie.year %></h4>
      <div class="icon is-small">
        <i class="fa fa-pencil"></i>
      </div>
      <p><%= movie.filmSynopsis %></p>
        <% if(locals.isAuthenticated) { %>
      <a class="button is-primary" href="/movies/<%= movie.id %>/edit">Edit Synopsis</a>
      <% } %>
      <br><br>

      <h3 class="title is-3">Links</h3>
      <a class="button is-primary" href="<%= movie.youtube %>" target="_blank">Youtube</a>
      <a class="button is-primary" href="<%= movie.wiki %>" target="_blank">wikipedia</a>
      <% if(locals.isAuthenticated) { %>
      <a class="button is-primary" href="https://ororo.tv/en/channels" target="_blank">Streaming</a>
      <% } %>
        <% if(movie.user){ %>
          <p>Added by: <strong><%= movie.user.username %></strong></p>
        <% } %>
      <br>

      <% if(locals.isAuthenticated && movie.user && movie.user.id === locals.currentUser.id) {%>
      <form method="POST" action="/movies/<%= movie.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <a class="button is-primary" href="/movies/<%= movie.id %>/edit">Edit</a>
        <button class="button is-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
  <h4 class="subtitle is-4">Comments and Rating</h4>
  <ul>
    <% movie.comments.forEach(comment => { %>
      <li>
      <p><%= comment.text %> - <%= comment.rating %>/5 Added by <%= comment.user %></p>
      <form method="POST" action="/movies/<%= movie.id %>/comments/<%= comment.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger">Delete</button>
      </form>
      </li>
      <% }) %>
    </ul>
    <% if(locals.isAuthenticated) { %>
      <form method="POST" action="/movies/<%= movie.id %>/comments">
        <div>
          <h3 class="title is-3">Leave your comment & rating below</h3>
          <label>Name</label>
          <input type="text" name="username">
        </div>
        <div>
          <label>Comment</label>
          <textarea name="text"></textarea>
        </div>
        <div>
          <label>Rating</label><br>
          <label>
            1 <input type="radio" value="1" name="rating">
          </label>
          <label>
            2 <input type="radio" value="2" name="rating">
          </label>
          <label>
            3 <input type="radio" value="3" name="rating">
          </label>
          <label>
            4 <input type="radio" value="4" name="rating">
          </label>
          <label>
            5 <input type="radio" value="5" name="rating">
          </label>
        </div>

        <button class="button is-info">Add</button>
      </form>
        <% } %>
</div>
