<div class="container">
  <h3 class="title"><%= user.username %></h3>
  <br>
  <h4 class="title">Favorites</h4>
  <div class="columns is-multiline">
    <% user.favorites.forEach(movie => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
        <% if(locals.isAuthenticated) { %>
          <form method="POST" action="/movies/<%= movie.id %>/favorite" class="favorite">
            <button>
              <% if(locals.currentUser.hasFavorited(movie)) { %>
                <i class="fa fa-heart"></i>
              <% } else { %>
                <i class="fa fa-heart-o"></i>
              <% } %>
            </button>
          </form>
        <% } %>
        <a href="/movies/<%= movie.id %>">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="<%= movie.image %>" alt="<%= movie.title %>">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title"><%= movie.title %></h3>
              <h4 class="subtitle"><%= movie.director %></h4>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</div>
